* {
	font-family: Tahoma, sans-serif;
}

body, #section {
	background-color: #A9A9A9; 
}

#header {
	/*border-radius: 0px;*/
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
    color:white;
    text-align:center;
    padding:5px;
	min-height: 60px;
	border: 1px solid #F7B733;
    background-image: radial-gradient(ellipse, #062F4F 0%, #000000 100%);
    background-image: -o-radial-gradient(ellipse, #062F4F 0%, #000000 100%);
    background-image: -moz-radial-gradient(ellipse, #062F4F 0%, #000000 100%);
    background-image: -webkit-radial-gradient(ellipse, #062F4F 0%, #000000 100%);
    background-image: -ms-radial-gradient(ellipse, #062F4F 0%, #000000 100%);
 
    background-image: -webkit-gradient(
        radial,
        color-stop(0, #CAEBF2),
        color-stop(1, #6689BF)
    );
}
#nav {
	/*border-radius: 0px;*/
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
    
	min-height: 40px;
    padding:2px; 
	border: 1px solid #F7B733;
    background-image: radial-gradient(ellipse, #CAEBF2 0%, #000000 100%);
    background-image: -o-radial-gradient(ellipse, #CAEBF2 0%, #000000 100%);
    background-image: -moz-radial-gradient(ellipse, #CAEBF2 0%, #000000 100%);
    background-image: -webkit-radial-gradient(ellipse, #CAEBF2 0%, #000000 100%);
    background-image: -ms-radial-gradient(ellipse, #CAEBF2 0%, #000000 100%);
 
    background-image: -webkit-gradient(
        radial,
        color-stop(0, #EEAA7B),
        color-stop(1, #6689BF)
    );
}
#section {
    
    padding:10px; 
	border-radius: 0px;
}
#footer {
	border-radius: 0px;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
	border: 1px solid #000000;
    background-image: radial-gradient(ellipse, #062F4F 0%, #000000 100%);
    background-image: -o-radial-gradient(ellipse, #062F4F 0%, #000000 100%);
    background-image: -moz-radial-gradient(ellipse, #062F4F 0%, #000000 100%);
    background-image: -webkit-radial-gradient(ellipse, #062F4F 0%, #000000 100%);
    background-image: -ms-radial-gradient(ellipse, #062F4F 0%, #000000 100%);
 
    background-image: -webkit-gradient(
        radial,
        color-stop(0, #062F4F),
        color-stop(1, #000000)
    );
}




h1 {
	padding: 20px;
	
}
h2 {
	padding: 20px;
}
h3 {
	padding: 20px;
	border-radius: 0px;
    /*background-color:#eeeeee;
	text-align: center;
	width: 600px;
	margin-left:50px;
	**** haven't decided about these yet */
}


p {
	text-align: justify;
	padding: 10px;
	max-width: 600px;
	border-radius: 0px;
}



.button {
	white-space: pre;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #538fbe;
 
    font-size: 16px;
    border: 1px solid #000000;
    background-image: linear-gradient(bottom, #565656 0%, #CAEBF2 100%);
    background-image: -o-linear-gradient(bottom, #565656 0%, #CAEBF2 100%);
    background-image: -moz-linear-gradient(bottom, #565656 0%, #CAEBF2 100%);
    background-image: -webkit-linear-gradient(bottom, #565656 0%, #CAEBF2 100%);
    background-image: -ms-linear-gradient(bottom, #565656 0%, #CAEBF2 100%);
 
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #565656),
        color-stop(1, #CAEBF2)
    );
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

}
a.button:link {}
a.button:visited {}
a.button:hover {
	 border-top-color: #75a3a3;border-right-color: #75a3a3;border-bottom-color: #75a3a3;border-left-color: #75a3a3;border-width: 1px;border-style: solid;
	 background-color: #94b8b8; background-image: -webkit-gradient(linear, left top, left bottom, from(#94b8b8), to(#476b6b));
	 background-image: -webkit-linear-gradient(top, #94b8b8, #476b6b);
	 background-image: -moz-linear-gradient(top, #94b8b8, #476b6b);
	 background-image: -ms-linear-gradient(top, #94b8b8, #476b6b);
	 background-image: -o-linear-gradient(top, #94b8b8, #476b6b);
	 background-image: linear-gradient(to bottom, #94b8b8, #476b6b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#94b8b8, endColorstr=#476b6b);
}
a.button:active {}

.plain {
	background: transparent;
	margin-bottom: 0px;
	margin: 0px;
	padding: 0px;
}

tr.plain:nth-child(odd) {
	background: transparent;
}
tr.plain:nth-child(even) {
	background: transparent;
}
tr.plain:hover {
	
}

table.plain_no_hover {
	background: transparent;
	margin-bottom: 0px;
	margin: 0px;
	padding: 0px;
}
tr.plain_no_hover {
	background: transparent;
	margin-bottom: 0px;
	margin: 0px;
	padding: 0px;
}
td.plain_no_hover {
	background: transparent;
	margin-bottom: 0px;
	margin: 0px;
	padding: 0px;
}

/* this part adapted from http://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #94b8b8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/* everything else is from button class above */
.dropdown-content a {
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.code-sample {
	background-color: #d1e0e0;
	border: solid #669999 1px;
	
}